<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h3><%= title%></h3>
   <select>
     <option value="1">aaaaa</option>
     <option value="2">bbbbb</option>
     <option value="3">ccccc</option>
   </select>
    <script>
      
    </script>
  </body>
</html>
